<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de Personas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let usuario of usuarios | async" size-xl="2" size-lg ="2" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ion-card-content>
            <ion-avatar>
              <img [src]= "usuario.picture.medium">
            </ion-avatar>
            <h1 class="tipo1">{{usuario.name.first}} {{usuario.name.last}}</h1>
            <p class="tipo3">Texto de relleno de la descripción de cada persona</p>
            <p class="tipo2"><b>Edad de registro: </b>{{usuario.registered.age}}</p>
            <p class="tipo2"><b>Email: </b>{{usuario.email}}</p>
            <p class="tipo2"><b>Usuario: </b>{{usuario.login.username}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
